backend/HELP.md
backend/.gradle
backend/build/
!backend/gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**
./gradle

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

## H2 Database ##
backend/db.mv.db
backend/db.trace.db

## Front ##
Front/.DS_Store
Front/node_modules
Front/dist

# local env files
Front/.env.local
Front/.env.*.local

# Log files
Front/npm-debug.log*
Front/yarn-debug.log*
Front/yarn-error.log*

# Editor directories and files
Front/.idea
Front/.vscode
Front/*.suo
Front/*.ntvs*
Front/*.njsproj
Front/*.sln
Front/*.sw?
